.item {
    text-align: center;
    margin-top: 20px;
}

.counterItem {
    border: cadetblue 5px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    background-color: darkgray;
}

.button {
    width: 50px;
    margin: 10px 10px 0 10px;
}

.error {
    color: red;
}