.item {
    text-align: center;
}
.counterItem {
    border: cadetblue 5px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    background-color: darkgray;
}

.counterH1 {
    border: cadetblue 5px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 30px;
}

.red {
    color: red;
}

.button {
    margin-left: 10px;
}

.inputNumber {
    background-color: darkgray;
    border: cadetblue 5px solid;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
}

.inputNumber input{
    width: 40px;
}

.error {
    color: red;
}